<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.type.watch"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application>
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true"/>
            <receiver android:name=".BootReceiver" android:enabled="true" android:exported="true">
            <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            </receiver>
    </application>
</manifest>
